.dataframe {
    display: inline-block;
}
.dataframe td {
    vertical-align: middle;
    text-align: right;
}
tbody tr:hover {background: rgba(66, 165, 245, 0.2);}

.title {
    color: #002f4c !important;
}

.description {
    color: #002f4c !important;
}

h1 {
    color: #053858;
}

h2 {
    color: #0d4466;
}

h3 {
    color: #1f5679;
}

h4 {
    color: #43799a;
}

.callout-tip {
    border: 3px solid #544680 !important;
    background-color: #d5caf7 !important;
}

.callout-note {
    border: 3px solid #6ca83f !important;
    background-color: #d7f5c1 !important;
}

.callout-tip .callout-header {
    background-color: #8271ba !important; 
}

.callout-note .callout-header {
    background-color: #70ad41 !important; 
}

/* 改变Tip框中的标题颜色 */
.callout-tip .callout-title-container {
    color: #544680 !important; 
}

/* 改变Note框中的标题颜色 */
.callout-note .callout-title-container {
    color: #406e1a !important;
}

.panel-tabset {
    background-color: #a6cedb;
}

.panel-tabset .tab-content {
    background-color: #d5ecf6; 
}

.panel-tabset {
    border: 3px solid #6399ad;
}


/* Change the color of code inside the note callout */
.callout-note code {
    color: #5c8d36 !important;  /* You can choose any color value you prefer */
    background-color:#f6fff1 !important
}

/* Change the color of code inside the tip callout */
.callout-tip code {
    color: #544680 !important;  /* You can choose any color value you prefer */
    background-color:#f0ebfe !important
}


.code-block, .sourceCode {
    border: 3px solid #6399ad;
    padding: 8px;
    border-radius: 5px;  
    background-color: #a6cedb;
    /* white-space: pre-wrap !important; */
}

/* custom-style.css */
code {
    /*font-weight: bold;*/
    color: #267850;
    background-color:#a6cedb; 
    border-radius: 4px
}

